*{
	margin: 0;
	padding: 0;
	background-color: #7aa6cc;
}
.main{
	width:  100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.submain{
	width: 50%;
	height: 60%;
	border-radius: 4px;
	background-color: #e2d355;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.submain1{
	width: 50%;
	height:  80%;
	border-radius: 4px;
	background-color: #e2d355;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.submain h1,.submain1 h2{
	color: white;
	font-weight: normal;
	background-color: #e2d355;
}
.inputs{
	width:  80%;
	height: 50px;
	border-radius: 4px;
	background-color: white;
	display: flex;
}
.inputs span{
	width:  10%;
	background-color: #f7ba5b;
	color: white;
	font-size: 12px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inputs input{
	font-size: 18px;
	color: gray;
	height: inherit;
	flex: 1;
	background-color: white;
	border: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
button{
	width: 70%;
	border-radius: 4px;
	height: 38px;
	background-color: #ff3350;
	border:  1px solid #ff3350;
	color: white;
	font-size: 20px;
}
.link,a{
	background-color: #e2d355;
	font-size: 20px;
}
a{
	color: blue;
}
a:hover{
	cursor: pointer;
}
